.user-form {
  margin: 0 auto;
  width: 30%;
  margin-top: 4%;
}

.login-image {
  margin: 0 auto;
  width: 30%;
  margin-top: 0%;
}

.center-text {
  text-align: center;
}

#loginLink:hover {
  cursor:pointer;
  color:blue;
}

#registerLink:hover {
  cursor:pointer;
  color:blue;
}